body {
    font-family: "Inter";
    font-optical-sizing: auto;
    line-height: 1.6;
    margin: 0;
}

.container {
    width: 70%;
    margin: auto;
    align-self: stretch;
}

.nav {
    display: flex;
    justify-content: space-between;

    margin-top: 30px;
    margin-bottom: 50px;
}

.main-nav {
    align-items: center;
}

#logo {
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.right-nav {
    display: flex;
    align-items: center;
    gap: 20px;

}

.right-nav a {
    color: #000;
    text-decoration: none;
}

.bottom-half {
    margin: auto;
}

.intro-text {
    gap: 10px;
    position: relative;
    margin: 70px auto;
    text-align: center;
}

.intro-text:before{
    content:" ";
    display: block;
    height: 2px;
    width: 130px;
    position: absolute;
    top: 50%;
    left: 0;
    background: black;
  }

.intro-text:after{
    content:" ";
    height: 2px;
    width: 130px;
    background: black;
    display: block;
    position: absolute;
    top: 50%;
    right: 0;
}

mark {
    background-color: pink;
}

h1 {
    margin: 0;
}

h3 {
    font-weight: 200;
    font-size: medium;
    margin: 0;
}

.icons {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    gap: 10px;
}

.social-icon {
    font-size: 24px;
    transition: color 0.3s ease;
    margin-bottom: 20px auto;
    color: #333;
    
}

.social-icon:hover {
    color: #00A0DC;
}

.image-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px; /* Adjust the gap between images as needed */
    align-items: center;
}

.image-item {
    position: relative;
    
}

.image {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
    object-fit: cover;
}

.img_text {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.image-item:hover .image {
    opacity: 0.3;
}

.image-item:hover .img_text {
    opacity: 1;
}

.text {
    color: black;
    font-size: 16px;
    padding: 16px 32px;
}

a {
    text-decoration: none;
    color: black;
    text-align: center;
}

.project_info {
    display: flex;
}

.bottom-half-work{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.case-study {
    display: flex;
    border-radius: 15px;
    padding: 4%;

    height: max-content;
}

.left-half {
    display: flex;
    flex-direction: column;

    gap: 130px;
}

.upper-half {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.lower-half {
    display: flex;
    flex-direction: column;

    gap: 5px;
}

.lower-left {
    display: flex;
    flex-direction: column;

    gap: 30px;
}

.right-half {
    width: 60%;
}

.left-half {
    width: 40%;
}

.case-study-type {
    font-size: 15px;
}

.case-study-title {
    font-size: 35px;
}

.buttons {
    display: flex;
    gap: 10px;
}

button {
    width: 100px;
    height: 30px;
    border-radius: 10px;
    background: #FFF;
}

.case-logo {
    width: 40px;
    height: 40px;
}

footer {
    text-align: center;
    margin-top: 40px;
    padding: 20px;
    background-color: #f4f4f4;
}

.cover-section {
    display: flex;
    gap: 265px;
}
.cs-left-half {
    display: inline-flex;
    flex-direction: column;
    gap: 167px;
}

.cs-project-title {
    color: var(--Gray-gray-900, #13151A);

    font-family: Montserrat;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.cs-project-description {
    color: var(--Gray-gray-700, #5E6B81);

    font-family: Montserrat;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 32px; /* 133.333% */
    letter-spacing: -0.48px;
}

.cs-UX-Study {
    color: var(--Blue-blue-600, #3676E0);

    font-family: Montserrat;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.cs-case-vector {
    width: 300.146px;
    height: 35.427px;
    transform: rotate(-4.153deg);
    flex-shrink: 0;

    fill: var(--Blue-blue-500, #3B82F6);
}

.cs-project-content {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
}

.cs-project-info {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
}


.cs-left-top {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
}

/*this collapses everything to one column at 768px*/
@media screen and (max-width: 768px) {
    .container {
        width: 70%;
        margin-bottom: 20px;
    }

    nav {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    nav a {
        margin: 5px 0;
    }

    .top-half {
        flex-direction: column;
    }

    .bottom-half {
        flex-direction: column;
        text-align: center;
    }

    .intro-text {
        display: flex;
        flex-direction: column;
    }

    .intro-text::after {
        display: flex;
        flex-direction: column;
    }

    .intro-text::before {
        display: flex;
        flex-direction: column;
    }

    .image-grid {
        grid-template-columns: repeat(1, 1fr);

    }
}
